@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --nav: #0346ff;
    --bg: #ccc;
    --title: #000e3a;
    --text: #000;
    --category: #1f1f1f;
    --white: #fff;
    --font: "Open Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--text);
}

a {
    text-decoration: none;
}

#root {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        'nav nav'
        'aside article'
        'footer footer'
    ;
}

.main-menu {
    background: var(--nav);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    grid-area: nav;
}

.main-menu a {
    color: var(--white);
}

aside {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--bg);
    padding: 2rem;
    grid-area: aside;

}

aside .widget h3 {
    margin-bottom: 0.5rem;
    color: var(--title);
}

aside .widget ul {
    list-style: none;
}

aside .widget a {
    color: var(--category);
}

aside .widget a:hover {
    text-decoration: underline;
}